<div class="customers-content-container" id="customers-content-container">
    <div class="header"></div>
    <form class="customers-form row g-3" id="customers-form">
        <div class="col-md-4">
            <label class="form-label" for="txtSearchCustomer">Search Customer</label>
            <input class="form-control" id="txtSearchCustomer" list="datalistOptions" placeholder="Type to search...">
            <datalist id="datalistOptions">
                <option value="San Francisco">
                <option value="New York">
                <option value="Seattle">
                <option value="Los Angeles">
                <option value="Chicago">
            </datalist>
        </div>
        <div class="col-md-4">
            <label class="form-label" for="txtUID">UID</label>
            <input aria-label="disabled uid" class="form-control" disabled id="txtUID" readonly required type="text"
                   value="U001">
        </div>
        <div class="col-md-4">
            <label class="form-label" for="txtCID">CID</label>
            <input aria-label="disabled cid" class="form-control" id="txtCID" required type="text">
        </div>
        <div class="col-md-4">
            <label class="form-label" for="txtCustomerName">Name</label>
            <input class="form-control" id="txtCustomerName" required type="text">
        </div>
        <div class="col-md-5">
            <label class="form-label" for="txtCustomerAddress">Address</label>
            <input class="form-control" id="txtCustomerAddress" required type="text">
        </div>
        <div class="col-md-3">
            <label class="form-label" for="txtCustomerContact">Contact</label>
            <input class="form-control" id="txtCustomerContact" required type="text">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="txtCustomerNIC">NIC</label>
            <input class="form-control" id="txtCustomerNIC" required type="text">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="txtCustomerDRLicense">DR.License</label>
            <input class="form-control" id="txtCustomerDRLicense" required type="text">
        </div>
        <div class="col-md-6">
            <img alt="nic_image" class="img-fluid" id="customer_nic_image"
                 src="https://i.ibb.co/TMhn98r/lochanathiwanka.jpg">
        </div>
        <div class="col-md-6">
            <img alt="dr.license_image" class="img-fluid" id="customer_drlicense_image"
                 src="https://i.ibb.co/TMhn98r/lochanathiwanka.jpg">
        </div>
        <div class="col-auto">
            <button class="btn btn-success" id="btnDeleteCustomer" type="button">Delete</button>
        </div>
        <div class="col-auto">
            <button class="btn btn-warning" id="btnUpdateCustomer" type="button">Update</button>
        </div>
    </form>
    <div class="customers-table-container">
        <table class="customers-table table table-striped table-hover">
            <thead>
            <tr>
                <th>VID</th>
                <th>VDID</th>
                <th>Brand</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>V001</td>
                <td>VD001</td>
                <td>BMW I8</td>
                <td>Auto</td>
            </tr>
            <tr>
                <td>V001</td>
                <td>VD001</td>
                <td>BMW I8</td>
                <td>Auto</td>
            </tr>
            <tr>
                <td>V001</td>
                <td>VD001</td>
                <td>BMW I8</td>
                <td>Auto</td>
            </tr>
            <tr>
                <td>V001</td>
                <td>VD001</td>
                <td>BMW I8</td>
                <td>Auto</td>
            </tr>
            <tr>
                <td>V001</td>
                <td>VD001</td>
                <td>BMW I8</td>
                <td>Auto</td>
            </tr>
            <tr>
                <td>V001</td>
                <td>VD001</td>
                <td>BMW I8</td>
                <td>Auto</td>
            </tr>
            <tr>
                <td>V001</td>
                <td>VD001</td>
                <td>BMW I8</td>
                <td>Auto</td>
            </tr>

            </tbody>
        </table>
    </div>
    <div class="footer"></div>
</div>