<div class="home-content-container" id="home-content-container">
    <div class="header"></div>
    <div class="registered-users">
        <h3>Registered Users</h3>
        <h1 id="txt-registered-users">0</h1>
        <div class="circle"><i class="fas fa-users"></i></div>
        <div class="color"></div>
    </div>
    <div class="available-cars">
        <h3>Available Cars</h3>
        <h1 id="txt-available-cars">0</h1>
        <div class="circle"><i class="fas fa-car"></i></div>
        <div class="color"></div>
    </div>
    <div class="total-bookings">
        <h3>Total Bookings</h3>
        <h1 id="txt-tot-bookings">0</h1>
        <div class="circle"><i class="fas fa-book-open"></i></div>
        <div class="color"></div>
    </div>
    <div class="total-bookings-for-today">
        <h3>Today Bookings</h3>
        <h1 id="txt-today-bookings">0</h1>
        <div class="circle"><i class="fas fa-book"></i></div>
        <div class="color"></div>
    </div>
    <div class="available-drivers">
        <h3>Available Drivers</h3>
        <h1 id="txt-available-drivers">0</h1>
        <div class="circle"><i class="fas fa-biking"></i></div>
        <div class="color"></div>
    </div>
    <div class="maintenance">
        <h3>Maintenance.</h3>
        <h1 id="txt-maintenance">0</h1>
        <div class="circle"><i class="fas fa-tools"></i></div>
        <div class="color"></div>
    </div>
    <div class="footer"></div>
</div>