<div class="vehicle-content-container" id="vehicle-content-container">
    <div class="header"></div>
    <form class="vehicle-form row g-3 needs-validation" novalidate>
        <div class="col-md-12">
            <label class="form-label" for="txtSearchVehicle">Search Vehicle Category</label>
            <input class="form-control" id="txtSearchVehicle" list="vehicle-data-list" placeholder="Type to search...">
            <datalist id="vehicle-data-list"></datalist>
        </div>
        <div class="col-md-3">
            <label class="form-label" for="txtVid">VID</label>
            <input aria-label="disabled vid" class="form-control" disabled id="txtVid" readonly required type="text">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="txtBrand">Brand</label>
            <input class="form-control" id="txtBrand" pattern="^[A-z - 0-9 ()]{1,}$" required type="text">
        </div>
        <div class="col-md-3">
            <label class="form-label" for="txtType">Type</label>
            <input class="form-control" id="txtType" pattern="^[A-z]{1,}$" required type="text">
        </div>
        <div class="col-md-4">
            <label class="form-label" for="txtFuelType">Fuel Type</label>
            <input class="form-control" id="txtFuelType" required type="text">
        </div>
        <div class="col-md-4">
            <label class="form-label" for="txtTransmissionType">Transmission Type</label>
            <input class="form-control" id="txtTransmissionType" required type="text">
        </div>
        <div class="col-md-4">
            <label class="form-label" for="txtNoOfPassenger">No.of Passenger</label>
            <input class="form-control" id="txtNoOfPassenger" required type="text">
        </div>
        <div class="col-md-4">
            <label class="form-label" for="txtDailyRate">Daily Rate</label>
            <input class="form-control" id="txtDailyRate" required type="text">
        </div>
        <div class="col-md-4">
            <label class="form-label" for="txtMonthlyRate">Monthly Rate</label>
            <input class="form-control" id="txtMonthlyRate" required type="text">
        </div>
        <div class="col-md-4">
            <label class="form-label" for="txtMileage">Mileage</label>
            <input class="form-control" id="txtMileage" required type="text">
        </div>
        <div class="col-md-4">
            <label class="form-label" for="txtFreeMileage">Free Mileage</label>
            <input class="form-control" id="txtFreeMileage" required type="text">
        </div>
        <div class="col-md-4">
            <label class="form-label" for="txtExtraKMPrice">Extra KM Price</label>
            <input class="form-control" id="txtExtraKMPrice" required type="text">
        </div>
        <div class="col-md-4">
            <label class="form-label" for="txtLdwFee">LDW Fee</label>
            <input class="form-control" id="txtLdwFee" required type="text">
        </div>
        <hr>
        <div class="col-md-3">
            <label class="form-label" for="txtVDID">VDID</label>
            <input class="form-control" disabled id="txtVDID" readonly required type="text">
        </div>
        <div class="col-md-4">
            <label class="form-label" for="txtRegNumber">Reg. Number</label>
            <input class="form-control" id="txtRegNumber" required type="text">
        </div>
        <div class="col-md-4">
            <label class="form-label" for="txtColor">Color</label>
            <select class="form-select" id="txtColor" required>
                <option disabled selected value="">Choose...</option>
                <option>White</option>
                <option>Black</option>
                <option>Red</option>
                <option>Blue</option>
            </select>
        </div>
        <div class="col-md-6">
            <label class="form-label" for="vehicle_image_1">Image 1</label>
            <input class="form-control" id="vehicle_image_1" required type="file">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="vehicle_image_2">Image 2</label>
            <input class="form-control" id="vehicle_image_2" required type="file">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="vehicle_image_3">Image 3</label>
            <input class="form-control" id="vehicle_image_3" required type="file">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="vehicle_image_4">Image 4</label>
            <input class="form-control" id="vehicle_image_4" required type="file">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="txtAvailability">Availability</label>
            <input class="form-control" id="txtAvailability" required type="text" value="Available">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="txtMaintenance">Maintenance</label>
            <input class="form-control" id="txtMaintenance" required type="text" value="No">
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" id="btnAddVehicle" type="button">Add Vehicle</button>
        </div>
        <div class="col-auto">
            <button class="btn btn-success" id="btnDeleteVehicleCategory" type="button">Delete Category</button>
        </div>
        <div class="col-auto">
            <button class="btn btn-success" id="btnDeleteVehicle" type="button">Delete Vehicle</button>
        </div>
        <div class="col-auto">
            <button class="btn btn-warning" id="btnUpdateVehicleCategory" type="button">Update Category</button>
        </div>
        <div class="col-auto">
            <button class="btn btn-warning" id="btnUpdateVehicle" type="button">Update Vehicle</button>
        </div>
        <div class="col-auto">
            <button class="btn btn-danger" id="btnReset" type="button">Reset</button>
        </div>
    </form>
    <div class="vehicle-table-container">
        <table class="vehicle-table table table-striped table-hover" id="vehicle-table">
            <thead>
            <tr>
                <th>VID</th>
                <th>VDID</th>
                <th>Brand</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="footer"></div>
</div>